.dim {
  @include respondTo(desktop) {
    &:hover,
    &:focus {
      opacity: 0.75;
    }
    &:active {
      opacity: 1;
    }
  }
}

.shade {
  @include respondTo(desktop) {
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: transparent;
    }
  }
}
