.transition-bg {
  @include respondTo(desktop) {
    transition: background-color $transitionDuration $transitionTimingFunction;
  }
}

.transition-color {
  @include respondTo(desktop) {
    transition: color $transitionDuration $transitionTimingFunction;
  }
}

.transition-opacity {
  @include respondTo(desktop) {
    transition: opacity $transitionDuration $transitionTimingFunction;
  }
}

.transition-shadow {
  @include respondTo(desktop) {
    transition: box-shadow $transitionDuration $transitionTimingFunction;
  }
}
